# 의존성
node_modules
.pnp
.pnp.js

# 빌드 결과물
dist
dist-ssr
*.tsbuildinfo

# 로그
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 편집기 / 운영체제
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 버셀
.vercel

# 기타
.env
.env.*
!.env.example
